{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% block content %} 
    {% include 'shop/header.html' %}
	<!-- describe arounnd design/use of headear base seperate(in here) in آموزشdjango/django template languge/part: extends 'base.html'.. -->
    
	<!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static 'images/dummy/slides/1/slide.jpg' %}" alt="slider img" width="1400" height="377" />
                    
                    <!-- baloons -->
                    <div class="caption lft ltt"
                        data-x="570" 
                        data-y="50"
                        data-speed="4000" 
                        data-start="1000" 
                        data-easing="easeOutElastic">
                        <img src="{% static 'images/dummy/slides/1/baloon1.png' %}" alt="baloon" width="135" height="186" />
                    </div>
                    
                    <div class="caption lft ltt"
                        data-x="770" 
                        data-y="60"
                        data-speed="4000" 
                        data-start="1200" 
                        data-easing="easeOutElastic">
                        <img src="{% static 'images/dummy/slides/1/baloon3.png' %}" alt="baloon" width="40" height="55" />
                    </div>
                    
                    <div class="caption lft ltt"
                        data-x="870" 
                        data-y="80"
                        data-speed="4000" 
                        data-start="1500" 
                        data-easing="easeOutElastic">
                        <img src="{% static 'images/dummy/slides/1/baloon2.png' %}" alt="baloon" width="60" height="83" />
                    </div>
                    
                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120" 
                        data-y="120"
                        data-speed="1000" 
                        data-start="500" 
                        data-easing="easeInOutBack">
                        با ست مارک، هیچ محدودیتی ندارید
                    </div>
                    
                    <div class="caption lfl small_theme"
                        data-x="120" 
                        data-y="190"
                        data-speed="1000" 
                        data-start="700" 
                        data-easing="easeInOutBack">
                        کالاهای مختلف با قیمت های ویژه
                    </div>
                    <form action="{% url 'shop:product_list_by_category' %}" method="get" id='xy'>
						<input type="hidden" name="nikon">
						<input type="hidden" name="asus">
						<input type="hidden" name="lg">
						<a href="javascript:document.getElementById('xy').submit();" class="caption lfl btn btn-primary btn_theme"
							data-x="120" 
							data-y="260"
							data-speed="1000" 
							data-start="900" 
							data-easing="easeInOutBack">
							لیست کالا ها
						</a>
					</form>
					
                </li><!-- /slide -->
                
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static 'images/dummy/slides/2/slide.jpg' %}" alt="slider img" width="1400" height="377" />
                    
                    <!-- woman -->
                    <div class="caption lfb ltb"
                        data-x="800" 
                        data-y="50"
                        data-speed="1000" 
                        data-start="1000" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/2/woman.png' %}" alt="woman" width="361" height="374" />
                    </div>
                    
                    <!-- plane -->
                    <div class="caption lfl str"
                        data-x="400" 
                        data-y="20"
                        data-speed="10000" 
                        data-start="1000" 
                        data-easing="linear">
                        <img src="{% static 'images/dummy/slides/2/plane.png' %}" alt="aircraft" width="117" height="28" />
                    </div>
                    
                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120" 
                        data-y="120"
                        data-speed="1000" 
                        data-start="500" 
                        data-easing="easeInOutBack">
                        Slider Revolution
                    </div>
                    
                    <div class="caption lfl small_theme"
                        data-x="120" 
                        data-y="190"
                        data-speed="1000" 
                        data-start="700" 
                        data-easing="easeInOutBack">
                        انواع کالاها در ست مارک از هر سلیقه و  علاقه ای با تنوع بی نظیر انواع مختلف کالاها
                    </div>
                    
					<form action="{% url 'shop:product_list_by_category' %}" id='yx'>
						<input type="hidden" name="phone">	
						<a href="javascript:document.getElementById('yx').submit();" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="260" data-speed="1000" data-start="900" data-easing="easeInOutBack">
                        همه ی کالاها
						</a>
					</form>
                </li><!-- /slide -->
                
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static 'images/dummy/slides/3/slide.jpg' %}" alt="slider img" width="1400" height="377" />
                    
                    <!-- phone -->
                    <div class="caption sfr fadeout"
                        data-x="950" 
                        data-y="77"
                        data-speed="1000" 
                        data-start="2500" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/3/phone.png' %}" alt="phone in a hand" width="495" height="377" />
                    </div>
                    
                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120" 
                        data-y="120"
                        data-speed="1000" 
                        data-start="500" 
                        data-easing="easeInOutBack">
                        گوشی های کهکشانی
                    </div>
                    
                    <div class="caption lfl small_theme"
                        data-x="120" 
                        data-y="190"
                        data-speed="1000" 
                        data-start="700" 
                        data-easing="easeInOutBack">
                        با گوشی های سری گلکسی سامسونگ از هر مدل با قیمت های فوق العاده کهکشانی شوید 
                    </div>
                   
				   <form action="{% url 'shop:product_list_by_category' %}" id='yz'>
						<input type="hidden" name="samsung">
						<a href="javascript:document.getElementById('yz').submit();" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="260"data-speed="1000" data-start="900" data-easing="easeInOutBack">
							لیست گوشی های سامسونگ با قیمت ویژه
						</a>
                </li><!-- /slide -->
                
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static 'images/dummy/slides/4/slide.jpg' %}" alt="slider img" width="1400" height="377" />
                    
                    <!-- faces -->
                    <div class="caption lft ltt"
                        data-x="-150" 
                        data-y="0"
                        data-speed="300" 
                        data-start="2000" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/4/person1.png' %}" alt="satisfied customer" width="108" height="204" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="0" 
                        data-y="0"
                        data-speed="300" 
                        data-start="2200" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/4/person2.png' %}" alt="satisfied customer" width="108" height="321" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="500" 
                        data-y="0"
                        data-speed="300" 
                        data-start="2400" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/4/person3.png' %}" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="720" 
                        data-y="0"
                        data-speed="300" 
                        data-start="2600" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/4/person4.png' %}" alt="satisfied customer" width="108" height="191" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="940" 
                        data-y="0"
                        data-speed="300" 
                        data-start="2800" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/4/person5.png' %}" alt="satisfied customer" width="108" height="139" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1200" 
                        data-y="0"
                        data-speed="300" 
                        data-start="3000" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/4/person6.png' %}" alt="satisfied customer" width="108" height="179" />
                    </div>
                    <div class="caption lft ltt"
                        data-x="1350" 
                        data-y="0"
                        data-speed="300" 
                        data-start="3200" 
                        data-easing="easeInOutCubic">
                        <img src="{% static 'images/dummy/slides/4/person7.png' %}" alt="satisfied customer" width="108" height="133" />
                    </div>
                    
                    <!-- texts -->
                    <div class="caption lfl big_theme"
                        data-x="120" 
                        data-y="140"
                        data-speed="1000" 
                        data-start="500" 
                        data-easing="easeInOutBack">
                        اولویت ما اعتماد  مشتری
                    </div>
                    
                    <div class="caption lfl small_theme"
                        data-x="120" 
                        data-y="210"
                        data-speed="1000" 
                        data-start="700" 
                        data-easing="easeInOutBack">
                        درباره ما <a href="{% url 'shop:about_us' %}" target="_blank">about us</a> 
                    </div>
                    
                    <a href="#" class="caption lfl btn btn-primary btn_theme"
                        data-x="120" 
                        data-y="280"
                        data-speed="1000" 
                        data-start="900" 
                        data-easing="easeInOutBack">
                        به خوبی شما را پشتیبانی میکنیم
                    </a>
                </li><!-- /slide -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div> <!-- /slider revolution -->

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="push-up over-slider blocks-spacer">
                    
                    <!--  ==========  -->
                    <!--  = Three Banners =  -->
                    <!--  ==========  -->
                    <div class="row">
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">فروش</span> تابستانی</span>
                                <em>تا 60% تخفیف روی کفش ها</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block colored banner">
                                <span class="title"><span class="light">ارسال</span> رایگان</span>
                                <em>برای خرید های بیش از 69000 تومان</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#newest" class="btn btn-block banner">
                                <span class="title"><span class="light">محصولات</span> جدید</span>
                                <em>از محصولات جدید دیدن کنید.</em>
                            </a>
                        </div>
                    </div> <!-- /three banners -->
                </div>
            </div>
        </div>
        
        <!--  ==========  -->
        <!--  = Featured Items =  -->
        <!--  ==========  -->
        <div class="row featured-items blocks-spacer popup-products">
            <div class="span12">
                
                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
            	<div class="main-titles lined">
            	    <h2 class="title"><span class="light">محصولات</span> ویژه</h2>
            	    <div class="arrows">
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                    </div>
            	</div>
            </div>
            
            <div class="span12">
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
                    <div class="slide">
                        <div class="row">
                    	 
                    	 
                    	
                    	 
                	            	
    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
					{% for product in vije_products %}
    	            	<div class="span4">
    	            	    <div class="product">
								{% if product.stock %}{% else %}<div class="stamp red">تمام شد</div>{% endif %}
    	            	        <div class="product-img featured">									
    	            	            <div class="picture">
    	            	        	    <img src="{% if product.images.all.0 %}{{ product.images.all.0.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="{{ product.alt }}" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="{% url 'shop:product_detail' product.id product.slug %}" class="btn more btn-primary" style="margin-bottom: 25px;">توضیحات بیشتر</a>
											<form action="{% url 'cart:cart_add' product.id %}" class="form form-inline clearfix" method="post">
												{% csrf_token %}
												<input type="hidden" name="quantity" value="1">																															
												<button type="submit" class="btn buy btn-danger pull-right">خرید</button>
											</form>    	            	        		    
    	            	        		</div>
    	            	            </div>
    	            	        </div>
								<div class="main-titles no-margin" style="width:340px;">
									<h6 class="title" style="height:50px;"><span style="font-size:17px;">{{ product.header }}</span></h6>
									<h4 class="no-margin" style="text-align: left;">{{ product.price|intcomma }} تومان</h4>
								</div>    	            	    
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	             
                    	        </p>
    	            	    </div><!-- /product -->
                	    </div> 
    	            {% endfor %}
                    	 
                    	
                    	 
                	            	
    	            	
    	            	 
                    	 
                    	
                    	 
            	        </div>
            	    </div>
            	    
                </div> <!-- /carousel -->
            </div>
            
        </div>
    </div> <!-- /container -->
    
    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
    <div class="boxed-area blocks-spacer">
        <div class="container">
            
            <!--  ==========  -->
            <!--  = Title =  -->
            <!--  ==========  -->
            <div id="newest" class="row">
                <div class="span12">
                    <div class="main-titles lined">
                    	<h2 class="title"><span class="light">محصولات</span> جدید فروشگاه</h2>
                    </div>
                </div>
            </div> <!-- /title -->
            
            <div class="row popup-products blocks-spacer">
                  
                 
                <!--  ==========  -->
                <!--  = Product =  -->
                <!--  ==========  -->  
			{% for product in new_products %}
            	<div class="span3">
            	    <div class="product">
						{% if product.stock %}{% else %}<div class="stamp red">تمام شد</div>{% endif %}
            	        <div class="product-img">
                            <div class="picture">
                                <img src="{% if product.images.all.0 %}{{ product.images.all.0.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" width="540" height="374" alt="{{ product.alt }}"/>
                                <div class="img-overlay">
                                    <a href="{% url 'shop:product_detail' product.id product.slug %}" class="btn more btn-primary">توضیحات بیشتر</a>
									<form action="{% url 'cart:cart_add' product.id %}" class="form form-inline clearfix" method="post">
										{% csrf_token %}
										<input type="hidden" name="quantity" value="1">																															
										<button type="submit" class="btn buy btn-danger pull-right">خرید</button>
									</form>                                     
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin" style="width:250px; padding:0px 12px 0px 12px;">
                            <h6 class="title" style="height:50px;"><span style="font-size:17px;">{{ product.header }}</span></h6>
							<h4 class="no-margin" style="text-align: left;">{{ product.price|intcomma }} تومان</h4>
						</div>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                             
                        </p>
            	    </div>
            	</div> <!-- /product -->
            {% endfor %}
            	            	  
                   	
            	 
            	 
            </div>
        </div>
    </div> <!-- /new products -->
    
    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
    	<div class="container">
    	    
    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    	    <div class="row">
    	    	<div class="span12">
    	    	    <div class="main-titles lined">
    	                <h2 class="title"><span class="light">پرفروش ترین</span>محصولات فروشگاه</h2>
    	            </div>
    	    	</div>
    	    </div> <!-- /title -->
    	    
	    	<div class="row popup-products">
	    	     
	    	     
	    	            
		        <!--  ==========  -->
				<!--  = Product =  -->
				<!--  ==========  -->
			{% for product in best_selling %}
            	<div class="span3">
            	    <div class="product">
						{% if product.stock %}{% else %}<div class="stamp red">تمام شد</div>{% endif %}
            	        <div class="product-img">
                            <div class="picture">
                                <img src="{% if product.images.all.0 %}{{ product.images.all.0.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="{{ product.alt }}" width="540" height="374" />
                                <div class="img-overlay">
                                    <a href="{% url 'shop:product_detail' product.id product.slug %}" class="btn more btn-primary">توضیحات بیشتر</a>
									<form action="{% url 'cart:cart_add' product.id %}" class="form form-inline clearfix" method="post">
										{% csrf_token %}
										<input type="hidden" name="quantity" value="1">																															
										<button type="submit" class="btn buy btn-danger pull-right">خرید</button>
									</form>                                     
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin" style="width:250px; padding:0px 12px 0px 12px;">
                            <h6 class="title" style="height:50px;"><span style="font-size:17px;">{{ product.header }}</span></h6>
							<h4 class="no-margin" style="text-align: left;">{{ product.price|intcomma }} تومان</h4>
						</div>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                             
                        </p>
            	    </div>
            	</div> <!-- /product -->
            {% endfor %}

                    	    </div>
    	</div>
    </div> <!-- /most popular -->
    
    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <div class="darker-stripe blocks-spacer more-space latest-news with-shadows">
    	<div class="container">
    	    
    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    		<div class="row">
    			<div class="span12">
    			    <div class="main-titles center-align">
    			        <h2 class="title">
    			            <span class="clickable icon-chevron-right" id="tweetsRight"></span> &nbsp;&nbsp;&nbsp;
    			            <span class="light">آخرین</span> خبر ها &nbsp;&nbsp;&nbsp;
    			            <span class="clickable icon-chevron-left" id="tweetsLeft"></span>
			            </h2>
    			    </div>
    			</div>
    		</div> <!-- /title -->
    		
    		<!--  ==========  -->
			<!--  = News content =  -->
			<!--  ==========  -->
    		<div class="row">
    		    <div class="span12">
    		        <div class="carouFredSel" data-nav="tweets" data-autoplay="false">
    		             
    		                
		                <!--  ==========  -->
						<!--  = Slide =  -->
						<!--  ==========  --> 
                        <div class="slide">
                        	<div class="row">
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">12 بهمن 1392</div>
                        		        <h6><a href="#">عنوان خبر شما</a></h6>
                        		        <p>در این قسمت میتوانید خبر خود را بنویسید. این یک نوشته ی آزمایشی است که صرفا برای پر کردن این بخش به کار رفته و جنبه ی دیگری ندارد. شما میتوانید این ناحیه را با محتوای دلخواه خود پر کنید.</p>
                        		    </div>
                        		</div>
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">15 بهمن 1392</div>
                        		        <h6><a href="#">یک خبر جالب دیگر</a></h6>
                        		        <p>در این قسمت میتوانید خبر خود را بنویسید. این یک نوشته ی آزمایشی است که صرفا برای پر کردن این بخش به کار رفته و جنبه ی دیگری ندارد. شما میتوانید این ناحیه را با محتوای دلخواه خود پر کنید.</p>
                        		    </div>
                        		</div>
                        	</div>
                        </div> <!-- /slide -->
                         
    		                
		                <!--  ==========  -->
						<!--  = Slide =  -->
						<!--  ==========  --> 
                        <div class="slide">
                        	<div class="row">
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">12 بهمن 1392</div>
                        		        <h6><a href="#">عنوان خبر شما</a></h6>
                        		        <p>در این قسمت میتوانید خبر خود را بنویسید. این یک نوشته ی آزمایشی است که صرفا برای پر کردن این بخش به کار رفته و جنبه ی دیگری ندارد. شما میتوانید این ناحیه را با محتوای دلخواه خود پر کنید.</p>
                        		    </div>
                        		</div>
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">15 بهمن 1392</div>
                        		        <h6><a href="#">یک خبر جالب دیگر</a></h6>
                        		        <p>در این قسمت میتوانید خبر خود را بنویسید. این یک نوشته ی آزمایشی است که صرفا برای پر کردن این بخش به کار رفته و جنبه ی دیگری ندارد. شما میتوانید این ناحیه را با محتوای دلخواه خود پر کنید.</p>
                        		    </div>
                        		</div>
                        	</div>
                        </div> <!-- /slide -->
                         
                    </div>
    		    </div>
    		</div> <!-- /news content -->
    	</div>
    </div> <!-- /latest news -->
    
    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
	<div class="container blocks-spacer-last">
		
		<!--  ==========  -->
		<!--  = Title =  -->
		<!--  ==========  -->
		<div class="row">
		    <div class="span12">
		    	<div class="main-titles lined">
	                <h2 class="title"><span class="light">برند های</span> ما</h2>
                    <div class="arrows">
                        <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                        <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                    </div>
	            </div>
		    </div>
		</div> <!-- /title -->
		
		<!--  ==========  -->
		<!--  = Logos =  -->
		<!--  ==========  -->
		<div class="row">
		    <div class="span12">
		    	<div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
                    <img src="{% static 'images/dummy/brands/brands_01.jpg' %}" alt="brand1" width="203" height="104" />
                    <img src="{% static 'images/dummy/brands/brands_02.jpg' %}" alt="brand2" width="203" height="104" />
                    <img src="{% static 'images/dummy/brands/brands_03.jpg' %}" alt="brand3" width="203" height="104" />
                    <img src="{% static 'images/dummy/brands/brands_04.jpg' %}" alt="brand4" width="203" height="104" />
                    <img src="{% static 'images/dummy/brands/brands_05.jpg' %}" alt="brand5" width="203" height="104" />
                    <img src="{% static 'images/dummy/brands/brands_06.jpg' %}" alt="brand6" width="203" height="104" />
                </div>
		    </div>
		</div> <!-- /logos -->
	</div> <!-- /brands carousel -->



	{% include 'shop/footer.html' %}
{% endblock %}
