{% extends 'shop/base.html' %}
{% load humanize %}
{% block content %} 
    {% include 'shop/header.html' %}
	
	
<div class="master-wrapper"> 
    <div class="container">
        <div class="row">
            <section class="span12">  
                <div class="checkout-container">
                    <div class="row">
                    	<div class="span10 offset1">
        <p></p><br>	
	
<h4 style="text-align: right;">لطفا وارد شوید در غیر اینصورت توسط لینک زیر حساب کاربری ایجاد کنید.</h4>
<a href="{% url 'users:signup' %}">ایجاد حساب</a>
<p></p><br>



						</div>
					</div>
				</div>
			</section> <!-- /main content -->
        </div>
    </div> <!-- /container -->
</div> <!-- end of master-wrapper -->	


	{% include 'shop/footer.html' %}
{% endblock %}