<!-- this is form that will sent to user email -->
{% load i18n %}{% autoescape off %}
{% blocktrans %}شما این ایمیل را دریافت کرده اید چرا که درخواست تغییر رمز عبور پروفایل خود در سایت {{ site_name }}را داشته اید.{% endblocktrans %}

{% trans "لطفا به صفحه زیر مراجعه، و پسورد خود را تغییر دهید:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "با تشکر!" %}

{% blocktrans %}سایت {{ site_name }}{% endblocktrans %}

{% endautoescape %}