{% extends 'shop/base.html' %}
{% block title %}عضویت Setmark{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %} 
    {% include 'shop/header.html' %}
	

<div class="master-wrapper"> 
    <div class="container">
        <div class="row">
            <section class="span12">  
                <div class="checkout-container">
                    <div class="row">
                    	<div class="span10 offset1">
        <p></p><br>
						<form method="post">
							{% csrf_token %}
							
							<table class="table table-items">
							    <tbody>						         
									<hr>
							        <tr>
							        	<td class="desc" style="text-align: center;">پست الکترونیکی: {{ form.email }}</td></div>																									
							        </tr>
							        <tr>
							        	<td class="desc" style="text-align: center;">رمز عبور: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password1 }}</td>																									
							        </tr>
							        <tr>
							        	<td class="desc" style="text-align: center;">تکرار رمز عبور: &nbsp;&nbsp;&nbsp;{{ form.password2 }}</td>																									
							        </tr>									
							</table>
							<div style="text-align: center;">
								<button type="submit">ثبت نام</button>
							</div>
						</form>	
                    	
                    </div>
                </div>
            </section> <!-- /main content -->
        </div>
    </div> <!-- /container -->
</div> <!-- end of master-wrapper -->	
	
	{% include 'shop/footer.html' %}
{% endblock %}